/*
 * Author : Giorgio Desideri
 * Title : Main CSS Stylesheet
 */
 header {
    display: inline-table;
    width: 100%;
    margin-top: .2em;
    margin-bottom: .2em;
    vertical-align: middle;
    text-align: center;
}

header a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
    display: inline-table;
    vertical-align: middle;
    width: 100%;
    margin-top: .3em;
}

#container {
    width: 100%;
    text-align: center;
}

#central_logo {
    max-width: 100%;
    height: auto;
}

#central_logo_text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
}

.post a {
    color: azure;
}

.post_image {
    width: 30%;
    height: auto;
}

.post_text {
    vertical-align: top;
    text-align: left;
    width: 70%;
    height: auto;
}