/*
 * Author : Giorgio Desideri
 * Title : Main CSS Stylesheet
 */
 header {
    display: inline-table;
    width: 100%;
    margin-top: .2em;
    margin-bottom: .2em;
    vertical-align: middle;
    text-align: center;
}

header a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    padding-right: .5em;
}

nav {
    text-align: center;
    display: inline-table;
    vertical-align: middle;
    width: 100%;
    margin-top: .3em;
}

nav a {
    text-decoration: none;
    padding-right: .5em;
}

#container {
    width: 100%;
    text-align: center;
}

#central_logo {
    max-width: 100%;
    height: auto;
}

#central_logo_text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ================= NEWS ==================== */
.post {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.post a {
    color: azure;
}

.post_image {
    width: 50%;
    height: auto;
}

.post_image img {
    width: 100%;
    height: auto;
}

.post_text {
    flex: 1;
    vertical-align: top;
    text-align: left;
    width: 50%;
    height: auto;
    padding-left: 10px;
}

@media (max-width: 950px) {
    .post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post_image {
        width: 100%;
    }

    .post_text {
        text-align: left;
        width: 100%;
    }
}

/* ================= CONTACTS ==================== */
.contacts {
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
}

.contacts ul li {
    vertical-align: top;
    text-align: left;
}

.contacts h3 {
    display: inline-flex;
}

.contacts a {
    color: azure;
}
